.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0px 5px 8px -3px rgba(58, 58, 58, 0.25);
          box-shadow: 0px 5px 8px -3px rgba(58, 58, 58, 0.25);
}

.header .header__conteiner .header__content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.header .header__conteiner .header__content .header__logo {
  margin-left: 0;
  color: #363c49;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.header .header__conteiner .header__content .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__conteiner .header__content .menu .menu__list .menu__icon {
  display: none;
}

.header .header__conteiner .header__content .menu .menu__list .menu__items .menu__link {
  padding: 0 0 0 30px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #363c49;
}

.header .header__conteiner .menu__link:after {
  display: block;
  content: "";
  height: 3px;
  border-radius: 3px;
  width: 0%;
  background-color: #363c49;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.header .header__conteiner a:hover:after,
.header .header__conteiner a:focus:after {
  width: 100%;
}

.header .header__conteiner a:hover {
  color: #363c49;
}

.header .header__conteiner .header__button {
  width: 150px;
  height: 50px;
  margin: 0 0 0 30px;
  border-radius: 30px;
  background-color: #363c49;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
}

.header .header__conteiner .header__button:hover {
  width: 160px;
  height: 60px;
  background-color: #4b5364;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.header .header__conteiner .header__button:not(:hover) {
  background-color: #363c49;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (min-width: 767px) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-device-width: 767px) {
  .header__content {
    height: calc( 60px + (100 - 60) * ((100vw - 320px) / (767 - 320))) !important;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: calc( 25px + (36 - 25) * ((100vw - 320px) / (767 - 320))) !important;
  }
  .header__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: calc( 15px + (25 - 15) * ((100vw - 320px) / (767 - 320))) !important;
  }
  .header__menu {
    margin-left: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    right: 0;
    width: 35px;
    height: 25px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    height: 20%;
    width: 100%;
    -webkit-transition: all, 0.3s ease 0s;
    transition: all, 0.3s ease 0s;
    border-radius: 15px;
    background-color: #363c49;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: calc(60px + (100 - 60) * ((100vw - 320px) / (767 - 320)));
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    background-color: white;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding: 50px 0 0 0;
  }
  .menu__list._active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .header__logo._active {
    color: white;
  }
  .menu__items {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__link {
    margin: 15px 0 15px 0;
    padding-left: 0 !important;
    font-size: 32px !important;
  }
  .menu__link:first-child {
    padding-left: 0;
  }
}

.main .main__conteiner .field__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 0;
}

.main .main__conteiner .field__content .field__gif {
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  width: 700px;
  max-width: 800px;
  max-height: 450px;
  background-image: url(../../img/poporations.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main .main__conteiner .field__content .field__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 40px 0 0 0;
  max-width: 55%;
  min-height: 100%;
}

.main .main__conteiner .field__content .field__text .field__h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 1;
  text-align: center;
  color: #363c49;
  padding: 0 0 20px 0;
}

.main .main__conteiner .field__content .field__text .field__art-designe {
  padding-top: 80px;
}

@media (max-device-width: 767px) {
  .field__content {
    margin-right: 0 !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .field__gif {
    display: none;
  }
  .field__text {
    max-width: 100% !important;
  }
  .field__h1 {
    font-size: calc( 30px + (62 - 30) * ((100vw - 320px) / (767 - 320))) !important;
    padding-bottom: calc( 10px + (20 - 10) * ((100vw - 320px) / (767 - 320))) !important;
  }
  p {
    font-size: calc( 18px + (32 - 18) * ((100vw - 320px) / (767 - 320))) !important;
    line-height: calc( 25px + (40 - 20) * ((100vw - 320px) / (767 - 320))) !important;
  }
  .field__art-designe {
    padding-top: calc( 30px + (80 - 30) * ((100vw - 320px) / (767 - 320))) !important;
  }
}

.progress .progress__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress .progress__content .img-mobile {
  display: none;
}

.progress .progress__content .progress__gif {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 640px;
  min-width: 640px;
  max-width: 840px;
  max-height: 840px;
  background-image: url(../../img/idea.gif);
  background-size: 100%;
  background-repeat: no-repeat;
}

.progress .progress__content .progress__block-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: #363c49;
  border-radius: 0 50px 50px 0;
  padding: 40px 0 40px 0;
  margin-left: -15px;
}

.progress .progress__content .progress__block-text .progress__title {
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 1;
  text-align: center;
  color: white;
}

.progress .progress__content .progress__block-text .progress__help {
  color: white;
}

@media (max-device-width: 767px) {
  .progress__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-mobile {
    width: calc( 280px + (700 - 280) * ((100vw - 320px) / (767 - 320))) !important;
    margin-bottom: calc( 30px + (80 - 30) * ((100vw - 320px) / (767 - 320))) !important;
    display: block !important;
  }
  .progress__gif {
    display: none !important;
  }
  .progress__block-text {
    padding: calc( 10px + (40 - 10) * ((100vw - 320px) / (767 - 320))) !important;
  }
  .progress__title {
    font-size: calc( 30px + (62 - 30) * ((100vw - 320px) / (767 - 320))) !important;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

b {
  color: #363c49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

html,
body {
  margin: 0;
  line-height: 1;
}

body._lock {
  overflow: hidden;
}

[class*="__conteiner"] {
  max-width: 1935px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #363c49;
}
/*# sourceMappingURL=main.css.map */