$fontColor: #363c49;

.header {
  position: sticky;
  top: 0;
  transition: 1s;
  box-shadow: 0px 5px 8px -3px rgba(58, 58, 58, 0.25);

  .header__conteiner {
    .header__content {
      height: 100px;

      display: flex;
      justify-content: end;
      align-items: center;

      background-color: white;
      .header__logo {
        margin-left: 0;
        color: $fontColor;

        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
      }

      .header__menu {
        display: flex;
        justify-content: flex-end;
      }

      .menu {
        .menu__list {
          .menu__icon {
            display: none;
          }

          .menu__items {
            .menu__link {
              padding: 0 0 0 30px;
              display: inline-block;

              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 1;

              color: $fontColor;
            }
          }
        }
      }
    }

    .menu__link:after {
      display: block;
      content: "";
      height: 3px;
      border-radius: 3px;
      width: 0%;
      background-color: $fontColor;
      transition: width 0.5s ease-in-out;
    }
    a:hover:after,
    a:focus:after {
      width: 100%;
    }
    a:hover {
      color: $fontColor;
    }

    .header__button {
      width: 150px;
      height: 50px;
      margin: 0 0 0 30px;

      border-radius: 30px;
      background-color: $fontColor;

      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      text-align: center;

      color: white;
    }

    .header__button:hover {
      width: 160px;
      height: 60px;
      background-color: #4b5364;
      transition: 0.4s linear;
    }

    .header__button:not(:hover) {
      background-color: $fontColor;
      transition: 0.5s;
    }
  }
}
.header__hidden {
  transform: translateY(-100%);
}

@media (min-width: 767px) {
  .header__menu {
    flex: 1 1 auto;
  }
}

@media (max-device-width: 767px) {
  .header__content {
    height: calc(
      60px + (100 - 60) * ((100vw - 320px) / (767 - 320))
    ) !important;
  }

  .header__logo {
    flex: 1 1 auto;
    order: 1;
    font-size: calc(
      25px + (36 - 25) * ((100vw - 320px) / (767 - 320))
    ) !important;
  }

  .header__button {
    order: 2;
    font-size: calc(
      15px + (25 - 15) * ((100vw - 320px) / (767 - 320))) !important;
    //margin-left: calc(10px + (30 - 10) * ((100vw - 320px) / (380 - 320))) !important;
    //height: calc(40px + (50 - 40) * ((100vw - 320px) / (767 - 320))) !important;;
  }

  .header__menu {
    margin-left: 20px;
    order: 3;
  }

  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    right: 0;
    width: 35px;
    height: 25px;

    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    height: 20%;
    width: 100%;
    transition: all, 0.3s ease 0s;

    border-radius: 15px;
    background-color: $fontColor;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: calc(60px + (100 - 60) * ((100vw - 320px) / (767 - 320)));

    transform: translate(-100%, 0);
    background-color: white;
    transition: all 0.4s ease 0s;

    padding: 50px 0 0 0;
  }

  .menu__list._active {
    transform: translate(0, 0);
  }

  .header__logo._active {
    color: white;
  }

  .menu__items {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__link {
    margin: 15px 0 15px 0;
    padding-left: 0 !important;
    font-size: 32px !important;
  }

  .menu__link:first-child {
    padding-left: 0;
  }
}
