.work .work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .work__content .work__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  width: 700px;
  max-width: 840px;
  max-height: 840px;
  background-image: url(../../img/work.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.work .work__content .work__image_visible {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  width: 700px;
  max-width: 840px;
  max-height: 840px;
  background-image: url(../../img/work.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}

.work .work__content .work__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 40px;
  height: 640px;
}

.work .work__content .work__block-text .work__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 1;
  text-align: center;
  color: #363c49;
  margin-top: 80px;
}

.work .work__content .work__block-text .work__comfort_block {
  background-color: #363c49;
  border-radius: 50px 0 0 50px;
  padding: 40px 0 40px 0;
  margin: 0 -15px 80px 0;
}

.work .work__content .work__block-text .work__comfort_block .work__comfort {
  color: white;
  padding: 0 15px 0 15px;
}

@media (max-device-width: 767px) {
  .work__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch !important;
        -ms-flex-pack: stretch !important;
            justify-content: stretch !important;
  }
  .work__image {
    display: none !important;
  }
  .work__image_visible {
    display: block !important;
    width: calc( 280px + (700 - 280) * ((100vw - 320px) / (767 - 320))) !important;
    height: calc( 280px + (570 - 280) * ((100vw - 320px) / (767 - 320))) !important;
  }
  .work__title {
    font-size: calc( 30px + (62 - 30) * ((100vw - 320px) / (767 - 320))) !important;
    margin: 0 0 20px 0 !important;
  }
  .work__block-text {
    height: auto !important;
    margin: 0 !important;
    -webkit-box-pack: stretch !important;
        -ms-flex-pack: stretch !important;
            justify-content: stretch !important;
    padding-top: calc( 10px + (40 - 10) * ((100vw - 320px) / (767 - 320))) !important;
  }
  .work__comfort_block {
    margin-bottom: 10px !important;
    padding: calc( 10px + (40 - 10) * ((100vw - 320px) / (767 - 320))) !important;
  }
}
/*# sourceMappingURL=work-section.css.map */